body{
    margin-top: 0%;
    background-color: #FEA16C;
    font-family: 'Chango', cursive;
}

h2{
    color: #ff5e00;
}

.centradora{
    background-color: aquamarine;
    margin-left: 15%;
    margin-right:15%;
    padding-bottom: 10%;
}

.centrar{
    text-align: center;
}

.boton{
    background-color: #ff5e00;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.boton:hover{
    background-color: white;
    color: #ff5e00;
}